<div class="row">
	<div class="twelve columns">
		<b>Commenter:</b>
		<%= comment.commenter %>
	</div>
</div>
<div>
	<div class="six columns">
		<b>Comment:</b>
		<%= comment.body %>
	</div>
</div>


<div>
	<div class="six columns">
		<%= link_to 'Destroy Comment', [comment.post, comment],
		:confirm => 'Are you sure?',
		:method => :delete, :class=> "button tiny"%>
	</div>
</div>