<div class="row">
  <div class="twelve columns">
    <h1>Hello, Rails!</h1>
  </div>
</div>
<div class="row">
  <div class="six columns">
    <%= link_to "My Blog", posts_path, :class=> "button small" %>
  </div>
</div>