<div class="row">
	<div class="twelve columns">
		<h1>Post<h1>
		</div>
	</div>
</div>

<%= render 'form' %>

<div class="row">
  <div class="twelve columns">
    <%= link_to 'Edit Post', edit_post_path(@post), :class=> "button big" %>
    <%= link_to 'Back to Posts', posts_path, :class=> "button big" %>
  </div>
</div>
